In [6]:
#create pandas series
import pandas as pd
data = [10,20,30,40, 50]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
#Access series value
#values
print(series.values)
#index
print(series.index)

[10 20 30 40 50]
RangeIndex(start=0, stop=5, step=1)

In [14]:
temp = [19, 20, 25, 30, 40,]
series = pd.Series(temp)
print(max(series))
print(min(series))

week_days = series.index = ["Mon", "Tue", "Wed", "Thu", "Fri"]
print(week_days)

40
19
['Mon', 'Tue', 'Wed', 'Thu', 'Fri']

In [16]:
#Dataframe
data = {
    "Name": ["Ollie", "Sam", "Luke", "Liam"],
    "Age": [32, 27, 27, 30],
    "City": ["Reading", "London", "The North", "London"]
}

df = pd.DataFrame(data)
print(df)

    Name  Age       City
0  Ollie   32    Reading
1    Sam   27     London
2   Luke   27  The North
3   Liam   30     London

In [21]:
#Products dataframe
data2 = {

'name': ['white chocolate', 'dark chocolate', 'milk chocolate'],

'price': [2.5, 4.9, 3.2],

'quantity': [57, 2000, 25]

}

 

dfchoc = pd.DataFrame(data2)

print(dfchoc)

dfchoc['Total Value'] = dfchoc['price'] * dfchoc['quantity']

print(dfchoc)

              name  price  quantity
0  white chocolate    2.5        57
1   dark chocolate    4.9      2000
2   milk chocolate    3.2        25
              name  price  quantity  Total Value    test
0  white chocolate    2.5        57        142.5   142.5
1   dark chocolate    4.9      2000       9800.0  9800.0
2   milk chocolate    3.2        25         80.0    80.0

In [6]:
import pandas as pd 

# products dataframe: 

products = {
    'name': ['White Chocolate', 'Dark Chocolate', 'Milk Chocolate'],
    'price': [2.5, 4.9, 3.2],
    'quantity': [57, 2000, 25]
}
dfprod = pd.DataFrame(products)
print(dfprod)

              name  price  quantity
0  White Chocolate    2.5        57
1   Dark Chocolate    4.9      2000
2   Milk Chocolate    3.2        25

In [11]:
#dfprod.insert(3, 'colour', ['ivory', 'dark brown', 'medium brown'])
print(dfprod)

              name  price  quantity        colour         color
0  White Chocolate    2.5        57         ivory         ivory
1   Dark Chocolate    4.9      2000    dark brown    dark brown
2   Milk Chocolate    3.2        25  medium brown  medium brown

In [15]:
#add a new column for  "to'Total Value' (price x quantity)
dfprod['Total Value']=  dfprod['price'] * dfprod['quantity']
print(dfprod)

              name  price  quantity        colour         color  Total Value
0  White Chocolate    2.5        57         ivory         ivory        142.5
1   Dark Chocolate    4.9      2000    dark brown    dark brown       9800.0
2   Milk Chocolate    3.2        25  medium brown  medium brown         80.0

In [23]:
df = pd.read_csv("students_with_scores.csv")

#inspect first five rows
print(df.head())

       Name      School Grade  Score
0  Student1   West High     A     92
1  Student2  South High     F      6
2  Student3  North High     D     64
3  Student4   West High     B     88
4  Student5   West High     A     96

In [24]:
print(df.tail())

         Name      School Grade  Score
15  Student16  North High     C     76
16  Student17  South High     A     97
17  Student18  South High     C     72
18  Student19  South High     C     70
19  Student20   West High     A     93

In [16]:
#check shape
print(df.shape)

#check column name
print(df.columns)
    
#check the summary stats
print(df.describe())

#information on data types and values
print(df.info())

NameError: name 'df' is not defined

In [41]:
'''# Indexing using .loc & .iloc
#single column
print(df["Name"])
#multilple columns
print(df[["Name","School"]])'''

# row by label using loc
print(df.loc[0:2])

#specify rows and columns
print(df.loc[0:2, ["Name", "Grade"]])

#.iloc

print(df.iloc[0])

# specify rows and columns

print(df.iloc[0:3, 0:2])

       Name      School Grade  Score
0  Student1   West High     A     92
1  Student2  South High     F      6
2  Student3  North High     D     64
       Name Grade
0  Student1     A
1  Student2     F
2  Student3     D
Name       Student1
School    West High
Grade             A
Score            92
Name: 0, dtype: object
       Name      School
0  Student1   West High
1  Student2  South High

In [21]:
#single column
df = pd.read_csv("students_with_scores.csv")
print(df["Name"])

0      Student1
1      Student2
2      Student3
3      Student4
4      Student5
5      Student6
6      Student7
7      Student8
8      Student9
9     Student10
10    Student11
11    Student12
12    Student13
13    Student14
14    Student15
15    Student16
16    Student17
17    Student18
18    Student19
19    Student20
Name: Name, dtype: object

KeyError: ('Name', 'School')

In [24]:
# Multiple  columns
print(df[["Name", "School"]])

         Name      School
0    Student1   West High
1    Student2  South High
2    Student3  North High
3    Student4   West High
4    Student5   West High
5    Student6  South High
6    Student7  North High
7    Student8  North High
8    Student9   West High
9   Student10   East High
10  Student11   West High
11  Student12   West High
12  Student13   West High
13  Student14   West High
14  Student15  South High
15  Student16  North High
16  Student17  South High
17  Student18  South High
18  Student19  South High
19  Student20   West High

In [27]:
# row by label using loc
print(df.loc[0:2])

       Name      School Grade  Score
0  Student1   West High     A     92
1  Student2  South High     F      6
2  Student3  North High     D     64

In [44]:

print(df.loc[0:2, ["Name", "Grade"]])

       Name Grade
0  Student1     A
1  Student2     F
2  Student3     D

In [45]:
print(df.loc[0:0])

       Name     School Grade  Score
0  Student1  West High     A     92

In [29]:
print(df.loc[3:6, ["Name", "Grade"]])

       Name Grade
3  Student4     B
4  Student5     A
5  Student6     A
6  Student7     B

In [56]:
print(df.tail(2))

         Name      School Grade  Score
18  Student19  South High     C     70
19  Student20   West High     A     93

In [32]:
# .iloc
print(df.iloc[0])

#specify rows and columns
print(df.iloc[0:2,0:2])

#print(df.iloc[0:2,[df.columns.get_loc("Score")]])

Name       Student1
School    West High
Grade             A
Score            92
Name: 0, dtype: object
       Name      School
0  Student1   West High
1  Student2  South High

In [61]:
print(df.sort_values(by="Score", ascending=False))

         Name      School Grade  Score
11  Student12   West High     A     99
16  Student17  South High     A     97
4    Student5   West High     A     96
19  Student20   West High     A     93
0    Student1   West High     A     92
5    Student6  South High     A     91
9   Student10   East High     B     89
3    Student4   West High     B     88
12  Student13   West High     B     84
6    Student7  North High     B     83
14  Student15  South High     B     83
13  Student14   West High     B     81
8    Student9   West High     B     81
7    Student8  North High     C     78
10  Student11   West High     C     78
15  Student16  North High     C     76
17  Student18  South High     C     72
18  Student19  South High     C     70
2    Student3  North High     D     64
1    Student2  South High     F      6

In [63]:
print(df[df["Score"] > 80])

         Name      School Grade  Score
0    Student1   West High     A     92
3    Student4   West High     B     88
4    Student5   West High     A     96
5    Student6  South High     A     91
6    Student7  North High     B     83
8    Student9   West High     B     81
9   Student10   East High     B     89
11  Student12   West High     A     99
12  Student13   West High     B     84
13  Student14   West High     B     81
14  Student15  South High     B     83
16  Student17  South High     A     97
19  Student20   West High     A     93

In [39]:
#Names and scores of first 3 students
print(df.loc[0:2, ["Name", "Score"]])

       Name  Score
0  Student1     92
1  Student2      6
2  Student3     64

In [41]:
# All students from a specific school
school_name = "South High"
print(" All students at", school_name, ":=", df[df["School"] == school_name])

 All students at South High :=          Name      School Grade  Score
1    Student2  South High     F      6
5    Student6  South High     A     91
14  Student15  South High     B     83
16  Student17  South High     A     97
17  Student18  South High     C     72
18  Student19  South High     C     70

In [43]:
# Score of the last 2 students
print(df.iloc[-2:, df.columns.get_loc("Score")])

18    70
19    93
Name: Score, dtype: int64

In [48]:
# sort by defending order
print(df.sort_values(by="Score", ascending=True))

         Name      School Grade  Score
1    Student2  South High     F      6
2    Student3  North High     D     64
18  Student19  South High     C     70
17  Student18  South High     C     72
15  Student16  North High     C     76
7    Student8  North High     C     78
10  Student11   West High     C     78
13  Student14   West High     B     81
8    Student9   West High     B     81
6    Student7  North High     B     83
14  Student15  South High     B     83
12  Student13   West High     B     84
3    Student4   West High     B     88
9   Student10   East High     B     89
5    Student6  South High     A     91
0    Student1   West High     A     92
19  Student20   West High     A     93
4    Student5   West High     A     96
16  Student17  South High     A     97
11  Student12   West High     A     99

In [49]:
# filter students with score above 80
print(df[df["Score"] > 80])

         Name      School Grade  Score
0    Student1   West High     A     92
3    Student4   West High     B     88
4    Student5   West High     A     96
5    Student6  South High     A     91
6    Student7  North High     B     83
8    Student9   West High     B     81
9   Student10   East High     B     89
11  Student12   West High     A     99
12  Student13   West High     B     84
13  Student14   West High     B     81
14  Student15  South High     B     83
16  Student17  South High     A     97
19  Student20   West High     A     93

In [ ]:
# Average score per school